<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AntiConvert</title>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NTConvert.styles.css" asp-append-version="true" />

    <meta name="description"
          content="Convert PDF to Word online for free. Fast, secure and easy PDF to DOCX conversion." />

    <meta name="keywords"
          content="PDF to Word Converter, Convert PDF to DOCX, Free PDF Converter, Online PDF Tool,PDF to Word" />

    <meta name="keywords"
          content="PDFtoWord, ConvertPDFtoDOCX, Free PDF Converter, Online PDF Tool,Wordtopdf,wordtopdf,hr salery slip" />

</head>
<body>

    @await Html.PartialAsync("_Sidebar")

    <div class="main-content">

        <main role="main">
            @RenderBody()
        </main>

    </div>

</body>
</html>