@{
    var downloadFile = TempData["DownloadFile"]?.ToString();
    var successMsg = TempData["Success"]?.ToString();
}

<div class="container mt-5">
    @if (!string.IsNullOrEmpty(successMsg))
    {
        <div class="alert alert-success text-center">
         
            <p>Your file will be deleted automatically after <b>2 minutes</b>.</p>
        </div>
    }

    @if (!string.IsNullOrEmpty(downloadFile))
    {
        <div class="text-center">

            <a href="@Url.Action("DownloadFile", "Tools", new { fileName = downloadFile })"
               class="btn btn-success btn-lg">
                ⬇ Download File
            </a>

            <br />
            <br />

            <h5>
                Redirecting to Home in
                <span id="countdown">120</span>
                seconds...
            </h5>

        </div>
    }

</div>

<script>

    let seconds = 120;

    const timer = setInterval(function () {

        seconds--;

        document.getElementById("countdown").innerHTML = seconds;

        if (seconds <= 0) {

            clearInterval(timer);

            window.location.href = '@Url.Action("Index", "Home")';

        }

    }, 1000);



     

    window.onload = function () {

        var link = document.querySelector(".btn-success");

        if (link) {
            link.click();
        }

    };

</script>